@import "../../base";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");

.main-container {
    box-sizing: border-box;
    width: 100vw;
    padding: 38px 165px;
    header {
        width: 100%;
        .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
