@import "../../base";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");

.main-container {
    box-sizing: border-box;
    width: 100vw;
    padding: 38px 165px;
    color: $dark-blue;
    border: 2px solid black;
    overflow: hidden;
    header {
        width: 100%;
        .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 185px;
        }
        .header {
            position: relative;
            margin-bottom: 29px;
            .details {
                width: 35%;
            }
            .p-m {
                margin-bottom: 40px;
                color: $gray;
            }

            .image {
                position: absolute;
                top: -410px;
                right: -489px;
                &-desktop {
                    height: 935px;
                }
                &-tablet {
                    display: none;
                }
                &-mobile {
                    display: none;
                }
            }
        }
    }
    @media (max-width: $bp-tablet) {
        padding: 18px 39px;
        header {
            .nav {
                margin-bottom: 105px;
            }
            .header {
                margin-bottom: 25px;
                .details {
                    width: 60%;
                }
                .p-m {
                    margin-bottom: 25px;
                    color: $gray;
                }
                .image {
                    top: -245px;
                    right: -340px;
                    &-desktop {
                        display: none;
                    }
                    &-tablet {
                        height: 715px;
                        display: block;
                    }
                }
            }
        }
    }
}
